@import url('https://fonts.googleapis.com/css?family=Quicksand');


.flex-grid {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #FFFFFF;
  margin-bottom:20px;
}

.flex-grid .col {
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  color: #555555;
  width: 50%;
}

.col {
  padding: 0px 20px 0px 10px;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

#active {
  background-color: red;
}